* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
.toast-custom-style {
  position: fixed;
  bottom: 100px;
  right: 0.5%;
  z-index: 1;
  width: 25%;
  background: lightblue;
  font-family: "Montserrat", sans-serif;
}
h2,
h3 {
  font-size: 1.6rem;
}
body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
.input-group > .custom-select:not(:last-child),
.input-group > .form-control:not(:last-child) {
  background: transparent;
}
.badge-info {
  padding: 0.6rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.nav {
  width: 25%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 10;
}

.container-panels {
  display: flex;
}

.main-setup-panel {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  background: #ffffff85;
  width: 20%;
  padding: 75px 20px;
}

.panel-added-tasks {
  width: 60%;
  padding: 50px 20px;
}
.panel-added-tasks input {
  border: none;
}

.menu-panel-change {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20%;
  list-style-type: none;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: darkslategray;
  margin: 0;
  padding: 0;
}

.menu-panel-item {
  font-size: 1.5rem;
  margin: 0 1rem;
  color: darkslategray;
  background: white;
  border-radius: 50px;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-panel-item-active {
  color: #17a2b8;
}
/* App container*/
.app-container {
  position: absolute;
  width: 75%;
  height: auto;
  top: 0;
  right: 0;
  min-height: 100vh;
  padding: 25px;
  padding-left: 7%;
  padding-right: 7%;
  box-shadow: 0 0 62px rgba(0, 0, 0, 0.1);
}

.app-container-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: url("../assets/dairy-1986532_1920.jpg");
  background-size: cover;
  opacity: 0.3;
  z-index: -1;
  background-position: center;
}
.list-group {
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
}

.nav-item {
  height: 14.3%;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 2em;
  transition: 0.2s all ease-in-out;
}

.active {
  background: #315eff1a;
}

.app-container h3 {
  margin: 0 0 35px;
}

/* New task */
.new-task-container {
  margin-bottom: 20px;
}

/* Tasks list */
.tasks-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.single-task {
  margin-bottom: 12px;
}

.btn-clear-all {
  display: none;
}

.btn-clear-all-days {
  position: absolute;
  top: 0;
  right: 0;
}

.btn-success {
  color: white;
  transition: 0.3s all ease-in-out;
}
.btn-custom-color {
  color: white;
  background: #17a2b8;
}
.btn-custom-color:hover {
  color: white;
  background: #17a2b8;
}
/* #ec0972 */
.date {
  /* font-family: "Mali", cursive;*/
  font-weight: 700;
}
.check-btn,
.delete-btn {
  background: none;
  border: none;
  color: gray;
  outline: none;
}
.btn-success-custom .fa-check {
  color: green !important;
}
.check-btn:hover {
  color: green;
  background: none;
}
.delete-btn:hover {
  color: red;
  background: none;
}

@media (max-width: 1280px) {
  .main-setup-panel {
    width: 100%;
    background: white;
    z-index: 100;
    display: none;
  }
  .container-panels {
    flex-direction: column-reverse;
  }
  .panel-added-tasks {
    width: 100%;
    height: auto;
  }

  .menu-panel-change {
    position: fixed;
    bottom: 0;
    right: 0;
    flex-direction: row;
    height: auto;
    background: transparent;
    width: 100%;
    justify-content: flex-end;
    z-index: 10;
  }
  .menu-panel-item {
    margin: 0.3rem;
    background: darkslategray;
    color: white;
  }
}

@media (max-width: 820px) {
  .app-container {
    position: static;
    width: 100%;
  }
  .panel-added-tasks {
    width: 100%;
  }
  .flex-container {
    flex-direction: column;
    height: auto;
  }

  .nav {
    width: 100%;
    position: static;
  }

  /* .main-setup-panel {
    position: relative;
    width: 100%;
    order: -1;
    height: auto;
  } */
  .toast-custom-style {
    z-index: 10;
    top: 0;
    right: 0;
    height: auto;
  }
  .nav {
    height: 50vh;
  }
}
